.container-principal {
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: var(--cor-transparente);
  background-size: cover;
}

.container-principal__content {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 52px;
  background-color: var(--cor-transparente);
  backdrop-filter: blur(3px);
  padding: 10px;
  margin-left: 70px;
  max-height: 90%;
}

.container-principal__content__texto {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.container-principal__content__text__titulo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container-principal__content__text__titulo h1 {
  font-family: var(--fonte-secundaria);
  font-size: 56px;
  font-weight: 700;
}

.container-principal__content__text__titulo p {
  font-size: 18px;
  font-weight: 400;
  color: var(--cor-branca-500);
  text-align: justify;
}

.container-principal__content__text__preco {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container-principal__content__text__preco h2 {
  font-family: var(--fonte-secundaria);
  font-size: 32px;
  font-weight: 600;
}

.container-principal__content__text__preco-btns {
  display: flex;
  gap: 22px;
}

.container-principal__conent__description {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.container-principal__conent__description li {
  display: flex;
  gap: 16px;
  align-items: center;
}

.description-esquerdo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.description-direito {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media screen and (max-width: 900px) {
  .container-principal__content {
    padding: 0;
    width: 60%;
    margin-left: 20px;
  }

  .container-principal__content__text__titulo h1 {
    font-size: 36px;
    white-space: nowrap;
  }

  .container-principal__content__text__titulo p {
    font-size: 16px;
  }

  .container-principal__conent__description li {
    flex-direction: column;
    align-items: flex-start;
    white-space: nowrap;
  }
}
