.btn-principal {
  background-color: var(--cor-transparente);
  padding: 10px 16px;
  color: var(--cor-branca-700);
  border: 2px solid var(--cor-preto-500);
  border-radius: 32px;
  cursor: pointer;
  transition: linear 0.3s;
}

.btn-principal:hover {
  transform: scale(1.09);
  background-color: var(--cor-branca-700);
  color: var(--cor-preto-500);
}

.btn-principal:active {
  opacity: 0.7;
}
