header {
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  align-items: center;
  background-image: var(--cor-transparente);
}

@media screen and (max-width: 900px) {
  .nav .nav-links {
    gap: 40px;
  }
}

@media screen and (max-width: 700px) {
  header {
    justify-content: space-between;
    padding: 0 32px;
  }

  .nav .nav-links {
    display: none;
  }

  header .btn {
    display: none;
  }
}

/* 
//--------------------------INICIO MENU MOBILE--------------------------
const btnMenuBurguer = document.querySelector('.icone')
const menuBurguer = document.querySelector('.menu-burguer-links')

btnMenuBurguer.addEventListener('click', () =>{
    menuBurguer.classList.toggle('abrir-menu-burguer')
    const iconeMenu = menuBurguer.classList.contains('abrir-menu-burguer')

    btnMenuBurguer.classList = iconeMenu ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'
})
//--------------------------FIM MENU MOBILE-------------------------- */
