header {
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  align-items: center;
  background-image: var(--cor-transparente);
}

@media screen and (max-width: 900px) {
  .nav .nav-links {
    gap: 40px;
  }
}

@media screen and (max-width: 700px) {
  header {
    justify-content: space-between;
    padding: 0 32px;
  }

  .nav .nav-links {
    display: none;
  }

  .btn {
    display: none;
  }

  .nav-mobile .nav-mobile__icone-buguer {
    display: block;
  }
}
